{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Вход
{% endblock %}
{% block content %}
<div class="container">
    <h2>Вход</h2>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход</p>
{% else %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    <input type="hidden" name="next" value="{{ next }}">
    {% buttons submit='Войти' %} {% endbuttons%}
</form>
<a href="{% url 'users:password_reset' %}">сброс пароля</a>
{% endif %}
</div>

{% endblock %}